.statsSection {
    margin: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: white;
}

/* Small devices */
@media (max-width: 576px) {
    .statsSection {
        padding: 0.2rem;
    }
}
/* Medium devices */
@media (min-width: 575px) and (max-width: 768px) {
    .statsSection {
        padding: 0.1rem;
    }
}