.statsSection {
    margin: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: white;
}

/* Small devices */
@media (max-width: 576px) {
    .statsSection {
        padding: 0.5rem;
    }
}