.dataSection {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.profileWrapper {
    flex: 0 0 20%; 
    max-height: 30%; 
}

.statsWrapper {
    flex: 1;
    overflow-y: auto;
}
