.dataSection {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.profileWrapper {
    flex: 0 0 20%; 
    max-height: 30%; 
}

.statsWrapper {
    flex: 1;
    overflow-y: auto;
}
/* Small devices */
@media (max-width: 576px) {
    .dataSection {
        flex-direction: column;
        height: auto;
    }
    .profileWrapper {
        flex: none;
        max-height: none;
        margin-bottom: 1rem;
    }
    .statsWrapper {
        flex: none;
        overflow-y: visible;
    }
}
/* Medium devices */
@media (min-width: 576px) and (max-width: 768px) {
    .dataSection {
        flex-direction: column;
        height: auto;
    }
    .profileWrapper {
        flex: none;
        margin-bottom: 1rem;
    }
    .statsWrapper {
        flex: none;
        overflow-y: visible;
    }
}
/* Medium To Large Devices */
@media (min-width: 767px) and (max-width: 992px) {
    .dataSection {
        flex-direction: column;
        height: auto;
    }
    .profileWrapper {
        flex: none;
        margin-bottom: 1rem;
    }
    .statsWrapper {
        flex: none;
        overflow-y: visible;
    }
}