.profileSection {
    margin: 0;
    padding: 1rem; 
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: kanit;
    color: white;
}
/* .profileSection > * {
    border: 1px solid;
} */
.avatar > img {
    border-radius: 120px;
}
/* Small devices */
@media (max-width: 576px) {
    .profileSection {
        flex-direction: column;
    }
    .avatar > img {
        width: 50%;
        margin-bottom: 1rem;
    }
}
/* Medium devices */
@media (min-width: 575px) and (max-width: 768px) {
    .profileSection {
        flex-direction: column;
    }
    .avatar > img {
        width: 50%;
        margin-right: 1rem;
    }
}