.profileSection {
    margin: 0;
    padding: 1rem; 
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: kanit;
}
/* .profileSection > * {
    border: 1px solid;
} */
.avatar > img {
    border-radius: 120px;
}
