.commonModeCard {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 20vh;
    width: 100%;
    border: 0.5px solid;
    border-radius: 30px;
    transition: all 0.2s linear;
    font-family: kanit;
}
.commonModeCard:hover {
    box-shadow: 1px 2px 5px 1px;
}
/* Chess Variant Section */
.cardHeaderSection { 
    text-align: center;
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.variantIcon {
    width: 50%;
}
.variantIcon > img {
    width: 4rem;
}

/* Chess Variant Record Section */
.cardRecordSection { 
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.variantRecordContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

/* Chess Variant Best Section */
.cardBestSection { 
    width: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.moreDetailsSection {
    padding: 1rem;
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.buttonIcon {
    margin-left: 0.5rem;
}
/* Small devices */
@media (max-width: 576px) {
    .commonModeCard {
        flex-direction: column;
        height: auto;
        padding: 1rem;
    }
    .cardHeaderSection, .cardRecordSection, .cardBestSection {
        width: 100%;
    }
    .cardHeaderSection {
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
        align-items: center;
    }
    .variantIcon, .variantName{
        width: 4rem;
    }
    .variantIcon > img {
        width: 3rem;
    }
    .variantRecordContainer {
        flex-direction: row;
        gap: 1rem;
    }
    .moreDetailsSection {
        width: 90%;
    }
}