.commonModeCard {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 20vh;
    width: 100%;
    border: 0.5px solid;
    border-radius: 30px;
    transition: all 0.2s linear;
    font-family: kanit;
}
.commonModeCard:hover {
    box-shadow: 1px 2px 5px 1px;
}
/* Chess Variant Section */
.cardHeaderSection { 
    text-align: center;
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.variantIcon {
    width: 50%;
}
.variantIcon > img {
    width: 4rem;
}
.cardDataSection {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* Chess Variant Record Section */
.cardRecordSection { 
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.variantRecordContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}
/* Chess Variant Best Section */
.cardBestSection { 
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.moreDetailsSection {
    width: 20%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.buttonIcon {
    margin-left: 0.5rem;
}
/* Small devices */
@media (max-width: 576px) {
    .commonModeCard {
        flex-direction: column;
        height: auto;
        padding: 1rem;
    }
    .cardHeaderSection, .cardRecordSection, .cardBestSection {
        width: 100%;
    }
    .cardHeaderSection {
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
        align-items: center;
    }
    .variantIcon, .variantName{
        width: 4rem;
    }
    .variantIcon > img {
        width: 3rem;
    }
    .variantRecordContainer {
        flex-direction: row;
        gap: 1rem;
    }
    .moreDetailsSection {
        width: 60%;
    }
}
/* Medium devices */
@media (min-width: 575px) and (max-width: 768px) {
    .commonModeCard {
        flex-direction: column;
        height: auto;
        padding: 1rem;
    }
    .cardHeaderSection, .cardRecordSection, .cardBestSection {
        width: 100%;
    }
    .cardHeaderSection {
        flex-direction: row;
        justify-content:start;
        gap: 1rem;
        align-items: center;
    }
    .cardDataSection {
        display: flex;
        flex-direction: row;
        gap: 5rem;
    }
    .variantIcon, .variantName{
        width: 4rem;
    }
    .variantIcon > img {
        width: 3rem;
    }
    .variantRecordContainer {
        flex-direction: row;
        gap: 1rem;
    }
    .moreDetailsSection {
        width: 50%;
    }
}
/* Medium to large devices */
@media (min-width: 767px) and (max-width: 992px) {
    .commonModeCard {
        flex-direction: column;
        height: auto;
        padding: 1rem;
    }
    .cardHeaderSection, .cardRecordSection, .cardBestSection {
        width: 100%;
    }
    .cardHeaderSection {
        flex-direction: row;
        justify-content: start;
        gap: 1rem;
        align-items: center;
    }
    .cardDataSection {
        display: flex;
        flex-direction: row;
        gap: 5rem;
    }
    .variantIcon, .variantName{
        width: 4rem;
    }
    .variantIcon > img {
        width: 3rem;
    }
    .variantRecordContainer {
        flex-direction: row;
        gap: 1rem;
    }
    .moreDetailsSection {
        width: 50%;
    }
}
@media (min-width: 1200px) {
    .moreDetailsSection {
        width: 15%;
    }
}
@media (min-width: 1300px) {
    .moreDetailsSection {
        width: 12%;
    }
}
