* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: kanit;
}
/* 
Small devices (up to 576px)
Medium devices (up to 768px)
Large devices (up to 992px)
Extra large devices (up to 1200px)
 */